*{
  margin: 0;
  padding: 0;
  font-family: 'poppins';
}
.hero{
  min-height: 100vh;
  background-image: url(images/nature.jpg);
  background-position: center;
  background-size: cover;
  padding: 10px 10%;
  overflow: hidden;
  position: relative;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  top: 0;
  z-index: 100;
  position: sticky;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo h1 span{
  color: orangered;
}
.menu{
  display: flex;
  align-items: center;
}
.menu a{
  color: white;
  font-size: 12px;
  text-decoration: none;
  margin-left: 25px;
  position: relative;
}
.menu i{
  padding-right: 5px;
}
.menu a:hover{
  color: orangered; 
}
.menu a i::after{
  content: '';
  width: 0;
  height: 2px;
  background: orangered;
  position: absolute;
  bottom: -15px;
  transition: width 0.3s;
}
.menu a i:hover::after{
  width: 100%;
}
.link{
  display: flex;
  align-items: center;
}
.login-btn{
  color: orangered;
  text-decoration: none;
  font-size: 14px;
  margin-right: 15px;
}
.btn{
  color: white;
  font-size: 12px;
  padding: 10px 40px;
  text-decoration: none;
  border: 2px solid none;
  border-radius: 30px;
  border-top-right-radius: 0%;
  background-image: linear-gradient(45deg, #ff6803, #340b3a);
  transition: 0.5s;
}
.content{
  margin-top: 8%;
  max-width: 600px;
}
.content h1{
  font-size: 70px;
}
.content p{
  margin: 10px 0 30px;
  color: #efefef;
  animation-delay: 0.5s;
}
.content .btn{
  padding: 15px 80px;
  font-size: 16px;
  color: white;
  font-size: 12px;
  text-decoration: none;
  border: 2px solid none;
  border-radius: 30px;
  border-top-left-radius: 0%;
  background-image: linear-gradient(45deg, #340b3a, #ff6803);
  animation-delay: 1s;
}
.btn:hover{
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.feature-img{
  width: 500px;
  position: absolute;
  bottom: 0;
  right: 10%;
}
.feature-img.anim{
  animation-delay: 1.5s;
}
.anim{
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
/* end-of-hero-page */

.page{
  display: block;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 10%;
}
.featured-slider{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.slide{
  display: bock;
  align-items: center;
  justify-content: first baseline;
  margin-top: 30px;
  padding-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
}
.slide img{
  width: 300px;
  border-radius: 20px;
}
.slide h4{
  padding-left: 12px;
}
.slide p{
  padding-left: 12px;
  color: #d10a0a;
  font-size: 14px;
  margin-bottom: 12px;
}
.slide a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  background-image: linear-gradient(45deg, #340b3a, #ff6803);
  border-radius: 10px;
  margin: 5px 50px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 12px;
  transition: 0.5s;
}
.slide a:hover{
  color: white;
  font-weight: 900;
}
#slide-1, #slide-2{
  height: 150px;
}
/* end-of-featured-projects */

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 30px 8%;
  gap: 20px;
}
.apps{
  background: #000;
  border: 10px solid #fff;
  box-shadow: 0 0 20px #000;
  padding: 10px 10px;
  width: 400px;
  height: 700px;
  border-radius: 50px;
  /* overflow: scroll; */
}
#dot{
  font-size: 15px;
  margin-left: 15px;
  color: white;
}
.nav{
  display: flex;
  flex-direction: row;
}
.nav-con{
  display: flex;
  align-items: center;
  margin-right: 50%;
  margin-left: 5px;
}
.nav-con p{
  font-size: 10px;
  font-weight: bold;
  color: white;
}
.nav-icons{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  color: white;
}
.nav-icons p{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: 900;
  color: white;
}
.survey-details{
  display: block;
  align-items: center;
  justify-content: flex-end;
  padding-top: 20px;
}
.survey-details h3{
  font-size: 20px;
  color: white;
  margin-bottom: 7px;
  letter-spacing: 1.5px;
}
.survey-details p{
  font-size: 10px;
  color: #ddd;
  letter-spacing: 1px;
}
.survey-bar{
  display: flex;
  gap: 60%;
}
.survey-bar p{
  font-size: 12px;
  color: white;
  letter-spacing: 0;
}
#rate{
  font-size: 9px;
}
meter{
  width: 100%;
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.survey-table{
  display: flexbox;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}
.survey-table h4{
  margin-bottom: 2px;
  color: white;
}
table{
  width: 100%;
  border: 1px solid #999;
  border-radius: 10px;

}
table td{
  display: flexbox;
  align-items: center;
  justify-content: flex-end;
  padding: 7px 10px;
  border: 1px solid #999;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 10px;
  color: #ddd;
}
#up{
  font-size: 10px;
  font-weight: 900;
  background: rgb(75, 66, 49);
  border-bottom: 0;
}
#down{
  border-bottom: 0;
}
.foot-menu{
  display: flexbox;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.foot-menu .link{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30%;
}
.foot-menu .link a{
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}
.foot-menu .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.foot-menu .icon a{
  color: white;
  font-weight: bold;
}
.foot-menu .copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 12px;
  margin-top: 7px;
  letter-spacing: 1px;
}
.note{
  width: 350px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  border: 3px solid linear-gradient(45deg, #340b3a, #ff6803);
  background: black;
  border-radius: 20px;
  box-shadow: 0 0 20px white;
  color: black;
  margin-bottom: 25px;
  margin-left: 30px;
}
.note h4{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  /* text-decoration: underline 2px; */
  color: #ff6803;
  margin-bottom: 10px;
}
.note p{
  font-size: 12px;
  font-weight: bold;
  color: #ddd;
  margin-bottom: 10px;
  padding: 0 10px;
}
.note a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  padding: 10px 40px;
  text-decoration: none;
  border: 2px solid none;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #ff6803, #340b3a);
  margin: 7px ;
}
/* end-of-container */

.testimonials{
  display: block;
  align-items: center;
  padding: 10px 10%;
  justify-content: flex-start;
  text-align: center;
}
.testimonials h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  margin: 10px auto;
}
.feed{
  display: flex;
}
.feedback{
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 20px white;
  padding: 15px 10px;
  background: #ddd;
  margin-top: 10px;
  margin-right: 20px;
}
.feedback img{
  border-radius: 50%;
  width: 100px;
}
.feedback h3{
  font-weight: 900;
  color: black;
  margin-top: 7px;
  margin-bottom: 7px;
  justify-content: center;
  align-items: center;
  display: flex;
}
#check{
  color: white;
  font-size: 10px;
  background: #1876f2;
  border-radius: 50%;
  padding: 3px 5px;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.feedback p{
  font-size: 14px;
  font-weight: bold;
}
.feedback a{
  text-decoration: none;
  font-size: 12px;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px auto;
  color: #340b3a;
  transition: 0.3s;
}
.feedback a:hover{
  color: #ff6600;
  text-shadow: 1px 1px black;
}
/* end-of-testimonials */

.message{
  display: block;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
}
.message h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
}
.message p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.message button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 20px;
  background-image: linear-gradient(45deg, #ff6803, #340b3a);
  border: none;
  cursor: pointer;
  margin-left: 45%;
  margin-top: 10px;
  color: white;
}
.message button a{
  text-decoration: none;
  color: white;
}
.pricing{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  padding: 30px 8%;
  gap: 40px;
}
.price{
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  padding-bottom: 10px;
  width: 30%;
}
.price span{
  color: #09a717;
  font-weight: 900;
}
.price-top h3{
  color: #fff;
  background: #ff6600;
  padding: 10px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.price-top p{
  font-size: 14px;
  font-weight: bold;
  margin: 7px auto;
  color: #2b2828;
}
.price-top h1{
  color: #2b2828;
  font-size: 55px;
  margin: 0;
  line-height: 50px;
}
.price-top #one{
  font-weight: 600;
}
hr{
  margin: 10px auto;
}
.price-middle{
  display: flex;
  text-align: left;
  align-items: first baseline;
  justify-content: flex-start;
}
.price-middle p{
  margin: 10px 10px;
  color: #2b2828;
  font-weight: 900;
  font-size: 14px;
}
.price-middle span{
  margin-left: 10px;
  margin-right: 10px;
}
.price-bottom{
  display: block;
  text-align: left;
  align-items: first baseline;
  justify-content: flex-start;
}
.price-bottom span{
  margin-left: 40px;
  margin-right: 10px;
}
.price-bottom p{
  font-weight: bold;
  font-size: 14px;
  color: #2b2828;
  padding-bottom: 5px;
}
#x-mark{
  color: red;
  font-weight: 900;
  font-size: 16px;
}
.price-bottom a{
  color: #ff6803;
  font-weight: bold;
  text-decoration: underline 1px black;
}
#swift{
  background: #09a717;
}
#two{
  color: #09a717;
  font-weight: 900;
}
#turbo{
  background: red;
}
#t-check{
  text-decoration: none;
  
}